# Ignore everything
*

# But not these files...
!CODEOWNERS
!LICENSE
!README.md
!.gitignore
!.licignore
!Makefile
!run.sh
!*.yml
!Dockerfile

# ...even if they are in subdirectories
!*/

# except gitignore
/**/.gitignore
