name: Single cluster on default network with registry

on:
  [workflow_dispatch, push]
jobs:
  k3d-single-cluster-demo:
    name: Single cluster on default network with registry
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        id: single-cluster
        name: "Create single k3d Cluster with Registry"
        with:
          cluster-name: "test-cluster-1"
          use-default-registry: true
          args: >-
            --agents 1
            --no-lb
            --k3s-server-arg "--no-deploy=traefik,servicelb,metrics-server"
      - name: Cluster info
        run: |
          echo ${{ steps.single-cluster.outputs.network }} ${{ steps.single-cluster.outputs.subnet-CIDR }}
          echo
          kubectl cluster-info --context k3d-test-cluster-1
      - name: Nodes
        # hack, wait until agents are ready...
        run: |
          docker ps -a
          sleep 10
          kubectl config use-context k3d-test-cluster-1
          kubectl get nodes -o wide
      - name: Network
        run: docker network inspect k3d-action-bridge-network

